<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Weebs Paradise</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #eba434;"">
        <a class="navbar-brand home-page" href="index.html">Weebs Paradise</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="index.html">Anime</a>
                <a class="nav-item nav-link" href="manga.html">Manga</a>
                <a class="nav-item nav-link" href="characters.html">Characters</a>
                <a class="nav-item nav-link" href="staff.html">Staff</a>
            </div>
        </div>
    </nav>

    <div id="app">
        <div class="container" id="primary-content">
            <div class="row mt-3 justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-center">Search Anime</h1>
                    <div class="input-group mb-3">
                        <input v-model="userSearch" v-on:keyup.enter="searchAnime" type="text" class="form-control" placeholder="Anime" id="search-input">
                        <div class="input-group-append">
                          <button class="btn btn-warning" type="button" id="search-anime" v-on:click="searchAnime">Let's Weebs</button>
                        </div>
                      </div>
                </div>
            </div>
    
            <hr>

            <div class="loading" v-if="isLoading == true">loading.....</div>
    
            <div class="row" id="anime-list" v-else>
                <div class="card" style="width: 18rem;" v-for="search in searchResult">
                    <img :src="search.image_url" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{ search.title }}</h5>
                      <p class="card-text"> {{ search.synopsis }} </p>
                    </div>
                  </div>
            </div>

            <div class="error" v-if="isError == true">
                {{ errorMessage }}
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" z>Anime Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script src="./js/app.js"></script>
    
</body>

</html>